{% extends "index.html" %}

{% load static %}

{% block title %}
    Mejores paises para trabajar de programador
{% endblock %}

{% block content %}

<div class="topmargin-xl">
</div>

<div class="blog_3">
    <div class="container">
        <div class="topmargin-lg" style="text-align:center;color:white;">
            <h2 style="font-size:70px;">Mejores Paises para Trabajar de Programador</h2>
            <div class="topmargin-sm">
            </div>
        </div>
    </div>
</div>

    <div class="container-fluid">
            <div class="content-center">
                <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever 
                since the 1500s,</p>
            </div>
    </div>

    <div class="content-center" style="text-align:left;">
   
            <h4>
                &nbsp;Las distintas especialidades que existen en el ámbito del Desarrollo de software y las tecnologías de información están entre los trabajos
                mejor pagados en el mundo, sin embargo, existen claras diferencias en la remuneración en las distintas regiones y países en el mundo.
            </h4>
        <br>
            <h4>
                Como desarrollador de software, aplicaciones web o móviles, ¿te has preguntado cuánto gana un desarrollador de software en distintos países del mundo? 
                O tal vez ¿Cuáles son los mejores países del mundo para trabajar como desarrollador de software en cuanto a la remuneración?
            </h4>
        <br>
            <h4>
                Si es así, estas de suerte, pues en la Oficina de proyectos de informática hemos preparado una lista con los 15 países en el mundo con los mejores sueldos 
                en desarrollo de software.
            </h4>
        <br>
            <h4>
                Las estadísticas de sueldos las hemos obtenido de Payscale, sitio web que posee información de sueldos máximos, mínimos y medios en una gran 
                diversidad de profesiones, cargos y países.
            </h4>
        <br>
            <h4>
                A continuación te presentamos los 15 países con mejores sueldos en desarrollo de software.
            </h4>        
        <br>
            <h3><b>Acerca de la lista de los países con mejores sueldos en desarrollo de software</b></h3>
        <hr><br>
            <h4>
               Para presentarte esta lista utilizamos la palabra de búsqueda “Software Engineer” en Payscale. En el sitio web existe otra gran diversidad de 
               cargos en el ámbito informático, como por ejemplo Software Developer, Web Developer, IT Project Manager entre otros. Las variaciones de país a 
               país para estos cargos son similares
            </h4>
        <br>
            <h4>
                Payscale presenta los sueldos en moneda local de cada país, para tu facilidad, convertimos la información a Dólares de los Estados Unidos de América.
            </h4>    
        <br>
            <h4>
                Las variaciones de estas tasas de cambio pueden influir en el posicionamiento de cada país, especialmente del Euro, pues muchos de los países de la lista usan la moneda.
            </h4>
        <br>
            <h3><b> Países con mejores sueldos en desarrollo de software</b></h3>  
        <hr><br>
            <h4>
                Los sueldos presentados a continuación son promedios anuales y están expresados en Dólares de los Estados unidos de América:
            </h4>
        <br>
            <img src="{% static 'img/portada.jpg' %}" width="800" height="350" />
        <br>
            <h3><b> 1.- Suiza - $91.373</b></h3>
            <ul style="font-size:18px;">
                <li>La industria de desarrollo de software en Suiza está integrada por muchas de las grandes empresas multinacionales, pero también en gran parte por 
                compañías pequeñas y medianas.</li>

                <li>Empresas como Google e IBM tienen centros de investigación y desarrollo establecidos en Suiza.</li>

                <li>Existen empresas en todas las ramas del desarrollo de software, como por ejemplo desarrolladores de software estándar destinados al consumo al detal, 
                desarrolladores de software a la medida, consultoría empresarial, integradores y proveedores de servicios.</li>

            </ul>
        <br>
            <h3><b>2.- Estados Unidos de América - $79.357</b></h3>
            <ul style="font-size:18px;">
                <li>Los grandes gigantes de la industria tienen sus bases principales en el país.</li>

                <li>El desarrollo de software está entre los trabajos mejor pagados en Estados unidos y la industria es de mayor crecimiento en número de puestos de trabajo.</li>

                <li>Se pueden encontrar empresas de todo el espectro de desarrollo de software, desde fabricantes de software estándar, desarrolladores a la medida, consultores, 
                integradores, proveedores de servicios, investigación y desarrollo.</li>

                <li>Más allá de las bases principales más conocidas en California, existen nuevas mecas del desarrollo de software que están emergiendo en sitios como Nueva York, 
                Austin Texas y Miami Florida (Este último es atractivo para los hispano parlantes).</li>
                
            </ul>
        <br>
            <h3><b>3.- Noruega – $69.539</b></h3>
            <ul style="font-size:18px;">
                <li>Tradicionalmente, las principales industrias de Noruega son la del Petróleo, la pesca y los astilleros, sin embargo, el sector de las Tecnologías de información 
                y comunicación es uno de los de mayor crecimiento en el país actualmente.</li>

                <li>Al igual que en otros países, se han formado múltiples compañías pequeñas y medianas dedicadas a desarrollar y comercializar soluciones tecnológicas altamente especializadas</li>

            </ul>
        <br>
            <h3><b>4.- Israel - $63.608</b></h3>
            <ul style="font-size:18px;">
                <li>La tradición de firmas de alta tecnología de Israel data de los años 60.</li>

                <li>El país posee el reconocido “Silicon Wadi” un área del país que concentra muchas firmas de alta tecnología (similar a Silicon Valley en Estados Unidos).</li>

                <li>Muchas compañías multinacionales tienen centros de investigación y desarrollo en el país, incluyendi Intel, Google, Facebook, Hewlett-Packard, Philips, 
                Cisco Systems, Oracle Corporation, SAP, BMC Software, Microsoft, Motorola.</li>

                <li>Pero la escena no solo le pertenece a las multinacionales Estado Unidentes, muchas compañías de Israel han surgido y se han convertido en grandes empresas que 
                compiten a nivel mundial, </li>

            </ul>
        <br>
            <h3><b>5.- Dinamarca - $63.154</b></h3>
            <ul style="font-size:18px;">
                <li>Dinamarca es un país con amplia difusión del uso de internet, dispositivos móviles e infraestructura de comercio electrónico.</li>

                <li>Existe un amplio mercado en el cual empresas de desarrollo de software pueden prosperar.</li>

                <li>Compañías como IBM, SAP, Microsoft y Oracle tienen oficinas en Dinamarca</li>

                <li>También existen una gran variedad de compañías nacionales, que son las que conocen el mercado y están posicionados para atender sus necesidades. </li>

            </ul>
        </div>        

    <hr><br>

    <div class="container-fluid">
            <div class="content-center">
                <h2>Véase tambien.. </h2>
            </div>
    </div>

        <div class="album py-5 bg-light">
            <div class="container">
            
                <div class="row">
                    <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img  src="{% static 'img/python.jpg' %}" width="350" height="226" />
                        <div class="card-body">
                        <h5>Porque python es el mejor lenguaje para novatos</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                        <a href="{% url 'blog-detail_2' %}" style="color:black;padding-left:220px;">Read more..</a>
                        </div> 
                    </div>
                    </div>
                    <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img  src="{% static 'img/programacion.jpg' %}" width="350" height="226" />
                        <div class="card-body">
                        <h5>Mejores lenguajes de programacion en 2020</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                        <a href="{% url 'blog-detail_1' %}" style="color:black;padding-left:220px;">Read more..</a>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img  src="{% static 'img/mecate.jpg' %}" width="350" height="226" />
                        <div class="card-body">
                        <h5>Si me suicido me muero.?</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                        <a href="{% url 'blog-detail_4' %}" style="color:black;padding-left:220px;">Read more..</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}