{% extends "index.html" %}

{% load static %}

{% block title %}
    Mejores lenguajes de programacion en 2020
{% endblock %}

{% block content %}

<div class="topmargin-xl">
</div>
<div class="blog_1">
    <div class="container">
        <div class="topmargin-lg" style="text-align:center;color:white;">
            <h2 style="font-size:100px;"><b>Mejores Lenguajes de Programación en 2020</b></h2>
            <div class="topmargin-sm">
            </div>
        </div>
    </div>
</div>


    <div class="container-fluid">
            <div class="content-center">
                <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever 
                since the 1500s,</p>
            </div>
    </div>

    <div class="content-center" style="text-align:left;">
            <h4>
                &nbsp; is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever 
                since the 1500s, "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born 
                and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth,
                the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because
                those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there 
                anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances 
                occur in which toil and pain can procure him some great pleasure.,
            </h4>        
        <br>
            <h4>
                To take a trivial example, which of us ever undertakes laborious
                physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a
                pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"
            </h4>            
        <br>
            <h5 class="text-muted">
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected 
                humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to
                be sure there isn't anything embarrassing hidden in the middle of text.
            </h5>
        <br>
        <img src="{% static 'img/portada.jpg' %}" width="800" height="350" />
    
        </div>

        <hr><br>

        <div class="container-fluid">
            <div class="content-center">
                <h2>Véase tambien.. </h2>
            </div>
        </div>

        <div class="album py-5 bg-light">
            <div class="container">
            
                <div class="row">
                    <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img  src="{% static 'img/python.jpg' %}" width="350" height="226" />
                        <div class="card-body">
                        <h5>Porque python es el mejor lenguaje para novatos</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                        <a href="{% url 'blog-detail_2' %}" style="color:black;padding-left:220px;">Read more..</a>
                        </div> 
                    </div>
                    </div>
                    <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img  src="{% static 'img/estadisticas.jpg' %}" width="350" height="226" />
                        <div class="card-body">
                        <h5>Mejores paises para trabajar de programador</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                        <a href="{% url 'blog-detail_3' %}" style="color:black;padding-left:220px;">Read more..</a>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img  src="{% static 'img/mecate.jpg' %}" width="350" height="226" />
                        <div class="card-body">
                        <h5>Si me suicido me muero.?</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                        <a href="{% url 'blog-detail_4' %}" style="color:black;padding-left:220px;">Read more..</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}